.input-form {
  padding: 0 50px;
  .bp3-form-group {
    .bp3-form-content {
      display: block;
      input,
      select,
      .bp3-select {
        max-width: 200px;
      }
    }
    .bp3-label {
      display: flex;
      span {
        font-size: 14px;
      }
    }
  }
}
