@import './colors.scss';
@import './forms.scss';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
$primary-color: #ffca28;
@import 'loaders.css/src/animations/ball-pulse-sync.scss';

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Martel Sans', sans-serif;
  background-color: #e5e5e5;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
}

span,
li {
  font-size: 16px;
}

div,
span,
li {
  display: inherit;
}

ul {
  padding: 0;
  list-style-type: none;
}

button,
a,
input {
  outline: none !important;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.w-100vh {
  width: 100vh;
}

.h-100vh {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}
